#root {
  width: 100%;
}

.ocean-background {
  position: relative;
  background-image: url('./assets/colline.png'); 
  background-repeat: no-repeat;
  background-position: left bottom; 
  background-size: 50% auto;
  padding-bottom: 100px; 
  padding-top: 25%; 
  z-index: -1;
}