#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.ocean-background {
  position: relative;
  background-image: url('./assets/colline.png'); 
  background-repeat: no-repeat;
  background-position: left bottom; 
  background-size: 50% auto;
  padding-bottom: 100px; 
  z-index: 1;
}
